
body{
	/*text-align: center;*/
	background-color: #5887C6;
	/*color: #FFFFFF;*/
	/*margin: 0px;
 * 	padding: 0px;
 * 		padding-left: 10%;
 * 			font-size: 12px;
 * 				font-family: "Apple Chancery", "Georgia" , "Hiragino Mincho Pro", "HeiseiMincho" , serif;*/
	background-image: url();
	background-position: left top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
