extends base

block vars
  - var title = 'Icon listing'

block body
  h1 Icon listing

  table
    each val, index in ['checkmark.gif', 'clipboard-check.gif', 'clipboard.gif', 'connect.gif', 'control-back.gif', 'control-eject.gif', 'control-fforward.gif', 'control-forward.gif', 'control-pause.gif', 'control-play.gif', 'control-rewind.gif', 'disconnect.gif', 'diskette.gif', 'document-attachment.gif', 'document-edit.gif', 'document-lock.gif', 'document.gif', 'drafts-closed.gif', 'drafts-minus.gif', 'drafts-open.gif', 'drafts-plus.gif', 'exclaim.gif', 'favourites.gif', 'folder-closed-delete.gif', 'folder-closed.gif', 'folder-delete.gif', 'folder-lock.gif', 'folder-minus.gif', 'folder-open.gif', 'folder-plus.gif', '25 FolderList.bat', 'folders2.txt', '77 FTest.bat', 'globe.gif', 'go.gif', 'graph-edit.gif', 'graph.gif', 'harddrive.gif', 'info.gif', 'ipod.gif', 'link.gif', 'lock-closed.gif', 'lock-open.gif', 'magnifyingglass.gif', 'mail-closed.gif', 'mail-front.gif', 'mail-lock.gif', 'mail-open.gif', 'mail-small.gif', 'mail.gif', 'minus.gif', 'newspaper.gif', 'notepad.gif', 'options-delete.gif', 'options-edit.gif', 'options-minus.gif', 'options-plus.gif', 'options.gif', 'pageflip-blub.gif', 'pageflip.gif', 'pencil.gif', '82 pencil2.gif', 'phone.gif', 'plus-gray.gif', 'plus-green.gif', 'printer.gif', 'question.gif', 'quote.gif', 'quote02.gif', 'receiver.gif', 'refresh.gif', 'refresh2.gif', 'screen-add.gif', 'screen-delete.gif', 'screen-edit.gif', 'screen.gif', 'search.gif', 'sent-closed.gif', 'sent-minus.gif', 'sent-open.gif', 'sent-plus.gif', 'sent.gif', 'shield.gif', 'shoppingcart.gif', 'star.gif', 'stop.gif', 'template-edit.gif', 'template.gif', 'threaded.gif', 'ticket.gif', 'trash-delete.gif', 'trash-minus.gif', 'trash-plus.gif', 'trash.gif', 'turnip.gif', 'twodocs.gif', 'unchecked.gif', 'user-blue.gif', 'user-delete.gif', 'user-edit.gif', 'user-green.gif', 'user-grey.gif', 'user-minus.gif', 'user-plus.gif', 'user-red.gif', 'user-yellow.gif', 'users.gif', 'x-green.gif', 'x-red.gif', '_wholeset.gif']
      if (index)%5 == 0
        <tr>
      td
        a(src='/img/icon/_twotiny/'+val)
      if (index)%5 == 4
        </tr>
