extends base

block vars
  - var title = 'Home:index'

block body
  h1 Test Auth!
  p.
    Welcome to the Tet Auth home page. please
    <a href="/register">register</a> or <a href="login">login</a> to continue!
