extends base

block vars
  - var title = "register:

block body
  h1 Create acc
  form(method="post")
    span FName:
    input(type="text",name="fName", required=true)
    br

    span Email:
    input(type="email",name="email", required=true)
    br

    span Password:
    input(type="password",name="password", required=true)
    br

    input(type="submit")

